# Python cache
__pycache__/
*.py[cod]
*$py.class
Pipfile.lock


# Virtualenvs
.env/
.venv/
venv/
ENV/
env/
**/venv/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# JetBrains Rider
.idea/
*.sln.iml
*.dotSettings.user
.idea_modules/

# macOS system files
.DS_Store

# Logs
*.log

# Dotnet environment files
.env

# EF Core Migrations snapshot files
*MigrationsSnapshot.cs

# Publish folder
publish/

# Database files
*.mdf
*.ldf
*.sql
