# Build artifacts
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE settings
.vscode/
.idea/
*.sln.iml

# OS system files
.DS_Store
Thumbs.db

# Docker / Compose files (nicht ins Image nötig)
docker-compose*.yml
*.env

# Git
.git/
.gitignore
